<li>
	{{burger_name}}

	{{!-- <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}UNDEVOUR!{{/if}}
	</button> --}}
    
    {{#if devour}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		DEVOUR
	</button>
    {{/if}}


	
</li>
